<h3 class="section__subtitle">Habilidades</h3>

<!--<ul class="skills">

  <li class="skills-item" *ngFor="let skill of skills">
    {{ skill.category }}:
    <span class="skill" *ngFor="let item of skill.items">{{ item }}</span>
  </li>

</ul>-->

<div class="container__skills">
  <article class="skills" *ngFor="let skill of skills">
    <h4 class="skill__category">{{ skill.category }}</h4>
    <ul class="skill__list">
      <li class="skill__item" *ngFor="let item of skill.items">{{ item }}</li>
    </ul>
  </article>
</div>

