<section class="section contact" id="contact">
  <header class="section__title">
    <h2 class="section__title-h2">Contacto</h2>
  </header>


  <div class="info">
    <article class="info__item">
      <div class="info__content">
        <h3 class="info__title">Mi Correo</h3>
        <p class="info__info">rlugo1986@gmail.com</p>
      </div>
    </article>

    <article class="info__item">
      <div class="info__content">
        <h3 class="info__title">Mis Redes Sociales</h3>
        <a href="https://www.linkedin.com/in/roraima-lugo-7a077124a" target="_blank" class="info__link">
          <i class="fa-brands fa-linkedin-in social__icon"></i>
        </a>

        <a href="https://github.com/roraima1986" target="_blank" class="info__link">
          <i class="fa-brands fa-github social__icon"></i>
        </a>
      </div>
    </article>
  </div>
</section>
