<section class="section" id="contact">
  <h2>Contáctame</h2>

  <div class="information">
    <div class="icon">
      <img src="./../../../assets/img/icons/envelope.svg" alt="Email">
    </div>
    <div>
      <h3>Email</h3>
      <p>rlugo1986@gmail.com</p>
    </div>
  </div>

  <div class="information">
    <div class="icon">
      <img src="./../../../assets/img/icons/share.svg" alt="Redes Sociales">
    </div>
    <div>
      <h3>Redes Sociales</h3>
      <a href="#" target="_blank">
        <img src="./../../../assets/img/icons/linkedin.svg">
      </a>

      <a href="#" target="_blank">
        <img src="./../../../assets/img/icons/github.svg">
      </a>
    </div>
  </div>

  <form class="form">
    <input type="text" placeholder="Nombre">
    <input type="email" placeholder="Email">
    <input type="text" placeholder="Asunto">
    <textarea placeholder="Mensaje"></textarea>
    <button type="submit" class="button">Enviar Mensaje</button>
  </form>
</section>
