<section class="section contact" id="contact">
  <h2>Contáctame</h2>

  <div class="info">
    <div class="information">
      <div class="icon">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div>
        <h3>Email</h3>
        <p>rlugo1986@gmail.com</p>
      </div>
    </div>

    <div class="information">
      <div class="icon">
        <i class="fa-solid fa-share-nodes"></i>
      </div>
      <div>
        <h3>Redes Sociales</h3>
        <a href="https://www.linkedin.com/in/roraima-lugo-7a077124a" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://github.com/roraima1986" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</section>
