@use './../../../styles';

.portfolio {
  position: relative;
  margin-bottom: 10rem;

  /* Botones del portafolio */
  .nav-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;


    .nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      background-color: transparent;
      color: styles.$white;
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      border: 2px solid styles.$blue;
      border-radius: 3rem;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all 300ms ease;
    }

    .nav-item:hover,
    .nav-active {
      background-color: styles.$blue;
    }
  }

  /* Portafolio */
  .grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 1rem;

    .article {
      background-color: styles.$black;
      border-radius: 2rem;
      border: 1px solid styles.$dark-gray;
      width: 100%;
      overflow: hidden;
      transition: all 300ms ease;

      .article__container {

        .project__img-container {
          position: relative;
          border-radius: 2rem 2rem 0 0;
          height: 35rem;

          .project__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem 2rem 0 0;
          }

          .project__destacad {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 10;
            color: orange;
            font-size: 2rem;
          }


        }

        .project__container {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          padding: 2rem 4rem;
          transition: all 300ms ease;
          overflow-y: auto;
          border-top: 1px solid styles.$dark-gray;

          .project__items {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            margin-bottom: 2rem;
            width: 100%;

            .project-item {
              background-color: styles.$blue;
              color: styles.$white;
              font-size: 1.1rem;
              font-weight: bold;
              border-radius: 1rem;
              padding: 0.5rem 1rem;
            }
          }

          .project__content {

            .project__title {
              font-size: 2rem;
              margin-bottom: 1rem;
              color: styles.$gray;
            }

            .project__description {
              font-size: 1.6rem;
            }

            .project__observation {
              margin-top: 1rem;
              color: styles.$blue;
            }
          }
        }


      }

      .project__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding: 0 2rem;
        padding-bottom: 2rem;

        .project__btn-link {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          color: styles.$white;
          border-radius: 3rem;
          border: 2px solid styles.$blue;
          font-family: styles.$text;
          font-size: 1.4rem;
          padding: 1rem 2rem;
          text-align: center;
          cursor: pointer;
          transition: all 300ms ease;

          .project__btn-icon {
            font-size: 2rem;
            margin-right: 0.5rem;
            transition: all 300ms ease;
          }
        }

        .project__btn-link:hover {
          background-color: styles.$blue;
          color: styles.$white;

          .project__btn-icon {
            transform: rotate(360deg);
          }
        }
      }
    }

    .article:hover {
      transform: scale(1.02, 1.02);
    }
  }
}


@media (max-width: 992px) {
  .portfolio {

    .grid__container {
      .article {
        .project__buttons {
          flex-direction: column;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .portfolio {
   .nav-portfolio {
    .nav-item {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;

      .nav-text {
        display: none;
      }
    }
   }
  }
}


@media (max-width: 576px) {
  .portfolio {
   .grid__container {
     grid-template-columns: repeat(1, 1fr);
   }
  }
}

