@use './../../../styles';

.portfolio {
  position: relative;
  margin-bottom: 10rem;



  /* Portafolio */
  .grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 1rem;

    .article {
      border-radius: 2rem;
      border: 1px solid styles.$light-gray;
      width: 100%;
      overflow: hidden;
      transition: all 300ms ease;

      .article__container {

        .project__img-container {
          position: relative;
          border-radius: 2rem 2rem 0 0;
          height: 35rem;
          overflow: hidden;


          .project__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 2rem 2rem 0 0;
            transition: all 300ms ease;
          }

        }

        .project__container {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          padding: 2rem 4rem;
          transition: all 300ms ease;
          overflow-y: auto;
          border-top: 1px solid styles.$light-gray;

          .project__items {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            margin-bottom: 2rem;
            width: 100%;

            .project-item {
              background-color: styles.$blue;
              color: styles.$white;
              font-size: 1.1rem;
              font-weight: bold;
              border-radius: 1rem;
              padding: 0.5rem 1rem;
            }
          }

          .project__content {

            .project__title {
              font-size: 2rem;
              margin-bottom: 1rem;
              color: styles.$gray;
            }

            .project__description {
              font-size: 1.6rem;
            }

            .project__observation {
              margin-top: 1rem;
              color: styles.$blue;
            }
          }
        }


      }

      .project__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 0 2rem;
        padding-bottom: 2rem;

        .project__btn-link {
          @include styles.my-button();

          .project__btn-icon {
            font-size: 2rem;
            margin-right: 0.5rem;

          }
        }

        .project__btn-link:hover {
          @include styles.my-button-hover();
        }
      }
    }

    .article:hover {

      .article__container {

        .project__img-container {

          .project__img {
            transform: scale(1.1, 1.1);
          }

        }

      }


    }
  }
}


@media (max-width: 992px) {
  .portfolio {
    .grid__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}

@media (max-width: 535px) {
  .portfolio {
    .grid__container {

      .article {

        .project__buttons {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }

}


