<section class="section portfolio-design" id="portfolio">
  <header class="section-title">
    <h2 class="section-title-h2">Portafolio</h2>
  </header>

  <!--Botones para filtrar los proyectos-->
  <nav class="nav-portfolio">
    <button (click)="filteredProjects('all')" class="nav-item" [class.nav-active]="currentFilter === 'all'" >Todos</button>
    <button (click)="filteredProjects('destacado')" class="nav-item" [class.nav-active]="currentFilter === 'destacado'">Destacado</button>
    <button (click)="filteredProjects('JavaScript')" class="nav-item" [class.nav-active]="currentFilter === 'JavaScript'">JavaScript</button>
    <button (click)="filteredProjects('Angular')" class="nav-item" [class.nav-active]="currentFilter === 'Angular'">Angular</button>
    <button (click)="filteredProjects('React')" class="nav-item" [class.nav-active]="currentFilter === 'React'">React</button>
  </nav>

  <!--Contenedor de los proyectos-->
  <div class="grid-container">

    <ng-container *ngFor="let obj of filteredPortfolio">

      <ng-container *ngIf="obj.is_active">
        <article class="article">

          <div class="img-project">
            <i *ngIf="obj.is_destacad" class="fa-solid fa-star"></i>
            <img class="img" [src]="obj.photo" [alt]="obj.title">
          </div>

          <div class="project">
            <h3 class="project-title">{{obj.title}}</h3>
            <ul class="project-items">
              <li *ngFor="let item of obj.skill" class="project-item">
                {{item}}
              </li>
            </ul>

            <p>{{obj.date_project}}</p>
            <p class="observation" *ngIf="obj.observation">{{obj.observation}}</p>

            <div class="buttons">
              <a [href]="obj.link_github" target="_blank" class="button" *ngIf="obj.link_github">
                <i class="fa-brands fa-github"></i>
              </a>
              <a [href]="obj.link_website" target="_blank" class="button" *ngIf="obj.link_website">
                <i class="fa-solid fa-globe"></i>
              </a>
            </div>
          </div>


      </article>
      </ng-container>

    </ng-container>



  </div>
</section>



