@use './../../../styles';

.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .home__p {
    font-size: 2.5rem;
  }

  .home__title {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: styles.$blue;

  }

  .home__subtitle {
    font-size: 3.5rem;
    color: styles.$dark-gray;
  }

  .home__links {
    margin-top: 5rem;

    .links__button {
      @include styles.my-button();
    }

    .links__button:hover {
      @include styles.my-button-hover();
    }

  }


}




@media (max-width: 768px) {
  .home {

    .home__title {
      font-size: 5rem;
    }

    .home__subtitle {
      font-size: 2.5rem;
    }

    .home__links {
      flex-direction: column;

      .links__link {
        width: 100%;
      }
    }

  }
}

@media (max-width: 450px) {

  .home {
    .home__title {
      font-size: 3rem;
    }

    .home__subtitle {
      font-size: 1.5rem;
    }
  }
}
