@use './../../../styles';

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  padding: 2rem;
  background-color: styles.$white;


  .navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .navbar__item {
      background-color: styles.$light-gray;
      font-size: 1.6rem;
      transition: all 300ms ease;
      padding: 1rem 3rem;
      border-radius: 2rem;
      cursor: pointer;

      .navbar__link {
        display: flex;
        align-items: center;
        color: styles.$dark-gray;

        .navbar__icon {
          font-size: 1.8rem;
          margin-right: 1rem;
        }
      }
    }

    .navbar__item:hover,
    .nav__active {
      background: styles.$gradient;


      .navbar__link {
        color: styles.$white;
      }
    }
  }
}




/* RESPONSIVE */
@media (max-width:900px) {
  .nav {
    bottom: 0;

    .navbar {

      gap: 1rem;

      .navbar__item {
        width: 8rem;
        padding: 2rem 1rem;

        .navbar__link {
          flex-direction: column;

          .navbar__icon {
            font-size: 2.5rem;
            margin: 0;
          }

          .navbar__title {
            font-size: 1.1rem;
          }
        }

      }
    }
  }
}
