<header class="header">

  <div class="btn-toggle" (click)="toggleNavbar()">
    <button class="button">
      <img src="./../../../assets/img/icons/list.svg" alt="toogle">
    </button>
  </div>

  <nav class="nav" [ngClass]="isNavbarVisible ? 'show' : 'hide'">
    <ul class="navbar">
      <li class="item" *ngFor="let route of routeNavbar">
        <a [routerLink]="route.route">
          <img [src]="route.icon" [alt]="route.title">
          <span>{{route.title}}</span>
        </a>
      </li>
    </ul>
  </nav>

</header>
