<header class="header">
  <nav class="nav">
    <button class="button">
      <img src="./../../../assets/img/icons/list.svg" alt="toogle">
    </button>
    <button class="button">
      <img src="./../../../assets/img/icons/times.svg" alt="toogle">
    </button>

    <ul>
      <li>
        <img src="./../../../assets/img/icons/home.svg" alt="home">
        <a routerLink="">Inicio</a>
      </li>
      <li>
        <img src="./../../../assets/img/icons/folder.svg" alt="works">
        <a routerLink="trabajos">Trabajos</a>
      </li>
      <li>
        <img src="./../../../assets/img/icons/user.svg" alt="about">
        <a routerLink="resumen">Resumen</a>
      </li>
      <li>
        <img src="./../../../assets/img/icons/envelope.svg" alt="contact">
        <a routerLink="contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
