<div class="modal">
  <!--Header del modal-->
  <div class="modal__header">
    <h2 class="modal__title">Titulo</h2>
    <i class="fa-solid fa-xmark modal__close-icon"></i>
  </div>

  <div class="modal__body">

    <p class="modal__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla totam aperiam, optio ipsum minus, fugit, ullam voluptatem dolores animi culpa enim vitae repellat deserunt dolore? Explicabo rerum eveniet numquam nulla.</p>

    <p class="modal__description"><strong>Observación: </strong> <span>Desafio de frontend Mentor</span></p>

    <p class="modal__description"><strong>Fecha: </strong> <span>Octubre 2024</span></p>
  </div>

  <div class="modal__footer">
    <button class="modal__close-button">Cerrar</button>
  </div>
</div>
