<section class="section works-design" id="design">
  <h2>Diseños</h2>

  <div class="grid-container">
    <ng-container *ngFor="let obj of work">
      <ng-container *ngIf="obj.is_design && obj.is_active">
        <article class="article" >
          <div class="img-project">
            <img class="img" [src]="obj.photo" [alt]="obj.title">
          </div>

          <div class="project">
            <h3 class="project-title">{{obj.title}}</h3>
            <ul class="project-items">
              <li *ngFor="let item of obj.skill" class="project-item">
                {{item}}
              </li>
            </ul>

            <p>{{obj.date_project | date}}</p>
            <p class="observation" *ngIf="obj.observation">{{obj.observation}}</p>

            <div class="buttons">
              <a [href]="obj.link_github" target="_blank" class="button" *ngIf="obj.link_github">
                <img src="./../../../assets/img/icons/github.svg">
              </a>
              <a [href]="obj.link_website" target="_blank" class="button" *ngIf="obj.link_website">
                <img src="./../../../assets/img/icons/globe.svg">
              </a>
            </div>
          </div>
        </article>
      </ng-container>
    </ng-container>


  </div>

</section>

