<section class="section works-design" id="works">
  <h2>Mis Trabajos</h2>

  <div class="grid-container">
    <article class="article">
      <div class="img-project">
        <img class="img" src="./../../../assets/img/projects/mobile-design.jpg" alt="Trabajo 1">
      </div>

      <div class="project">
        <h3>Titulo del proyecto</h3>
        <p>Lenguajes / Fecha</p>

        <div class="buttons">
          <a href="https://github.com/roraima1986/productcard.github.io" target="_blank" class="button">
            <img src="./../../../assets/img/icons/github.svg">
          </a>
        </div>
      </div>
    </article>


    <article class="article">
      <div class="img-project">
        <img  class="img" src="./../../../assets/img/projects/jjingenieria-website-design.jpg" alt="Trabajo 2">
      </div>
      <div class="project">
        <h3>Titulo del proyecto</h3>
        <p>Lenguajes / Fecha</p>

        <div class="buttons">
          <a href="https://github.com/roraima1986/productcard.github.io" target="_blank" class="button">
            <img src="./../../../assets/img/icons/github.svg">
          </a>
        </div>
      </div>
    </article>

    <article class="article">
      <div class="img-project">
        <img class="img" src="./../../../assets/img/projects/opticacloud-website-design.jpg" alt="Trabajo 3">
      </div>
      <div class="project">
        <h3>Titulo del proyecto</h3>
        <p>Lenguajes / Fecha</p>

        <div class="buttons">
          <a href="https://github.com/roraima1986/productcard.github.io" target="_blank" class="button">
            <img src="./../../../assets/img/icons/github.svg">
          </a>
        </div>
      </div>
    </article>
  </div>
</section>


