<section class="section" id="works">
  <h2>Mis Trabajos</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquid exercitationem provident accusamus illo cum corrupti tenetur, obcaecati sint iusto tempora molestiae sequi deserunt quis non possimus ratione laboriosam consectetur?
  </p>

  <article class="article">
    <figure class="figure">
      <img src="" alt="">
    </figure>
    <h3>Titulo del proyecto</h3>
    <p>Lenguajes / Fecha</p>
    <button class="button">
      <img src="./../../../assets/img/icons/plus.svg">
    </button>
  </article>

  <article class="article">
    <figure class="figure">
      <img src="" alt="">
    </figure>
    <h3>Titulo del proyecto</h3>
    <p>Lenguajes / Fecha</p>
    <button class="button">
      <img src="./../../../assets/img/icons/plus.svg">
    </button>
  </article>

  <article class="article">
    <figure class="figure">
      <img src="" alt="">
    </figure>
    <h3>Titulo del proyecto</h3>
    <p>Lenguajes / Fecha</p>
    <button class="button">
      <img src="./../../../assets/img/icons/plus.svg">
    </button>
  </article>


</section>


