<section class="section works" id="works">
  <h2>Mis Trabajos</h2>

  <div class="grid-container">
    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/cssmockup-website-design.jpg" alt="Trabajo 1">
      </figure>

      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>

    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/jjingenieria-website-design.jpg" alt="Trabajo 2">
      </figure>
      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>

    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/opticacloud-website-design.jpg" alt="Trabajo 3">
      </figure>
      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>

    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/cssmockup-website-design.jpg" alt="Trabajo 1">
      </figure>
      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>

    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/jjingenieria-website-design.jpg" alt="Trabajo 2">
      </figure>
      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>

    <article class="article">
      <figure class="figure">
        <img src="./../../../assets/img/projects/opticacloud-website-design.jpg" alt="Trabajo 3">
      </figure>
      <div class="project">
        <div>
          <h3>Titulo del proyecto</h3>
          <p>Lenguajes / Fecha</p>
        </div>
        <button class="button">
          <img src="./../../../assets/img/icons/plus.svg">
        </button>
      </div>
    </article>
  </div>



</section>


