
<div class="container">


  <div class="container__sphere" (window:resize)="onResize($event)">
    <div class="sphere" *ngFor="let sphere of spheres"
              [style.left.px] = "sphere.x"
              [style.top.px] = "sphere.y"
  ></div>
  </div>

  <!--
  <div class="bg__container">
    <img src="./../assets/img/bg/image1.png" class="bg__container-img img__1" />
    <img src="./../assets/img/bg/image2.png" class="bg__container-img img__2" />
    <img src="./../assets/img/bg/image2.png" class="bg__container-img img__3" />
  </div>
  -->


  <!--Barra de Navegación-->
  <navbar />

  <!--Contenido-->
  <main class="main">
    <router-outlet />
  </main>


  <!--Pie de Página-->
  <app-footer />
</div>







