@use './../styles.scss';

.container {
  position: relative;
}

.bg__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg__container-img {
  position: absolute;
  width: 30%;
  filter: opacity(0.5);
}

.img__1 {
  top: 0px;
  left: 5%;
  transform: translateY(-65%);
  animation: upAndDown 15s infinite;
}

.img__2 {
  top: 0px;
  right: 5%;
  transform: translateY(-50%);

}

.img__3 {
  bottom: 0px;
  right: 0px;
  transform: translateY(20%) translateX(20%);
  animation: rotateSphere 20s infinite;
}

@keyframes rotateSphere {
  0% {transform: translateY(50%) translateX(50%) rotate(0);}
  50% {transform: translateY(50%) translateX(50%) rotate(60deg);}
  100% {transform: translateY(50%) translateX(50%) rotate(0);}
}

@keyframes upAndDown {
  0% {transform: translateY(-65%);}
  50% {transform: translateY(-75%);}
  100% {transform: translateY(-65%);}
}


.container__sphere {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.sphere {
  position: absolute;
  top: 25%;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(20em);
}

.sphere1 {
  background-color: styles.$blue;
  left: 25%;
  animation: rotateBlue 15s infinite linear;
}

.sphere2 {
  background-color: styles.$green;
  right: 25%;
  animation: rotateGreen 15s infinite linear;
}

@keyframes rotateBlue {
  0% {transform: translateX(0)}
  25% {transform: translateY(-200px);}
  50% {transform: translateX(600px);}
  75% {transform: translatY(100px);}
  100% {transform: translateX(0);}
}

@keyframes rotateGreen {
  0% {transform: translateX(0)}
  25% {transform: translateY(200px);}
  50% {transform: translateX(-600px);}
  75% {transform: translateY(-100px);}
  100% {transform: translateX(0);}
}

.main {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 70%;
  min-height: 95vh;
  overflow-x: hidden;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    min-height: 85vh;
    padding-bottom: 10rem;
  }
}




