<section class="section about" id="about" >

  <article class="article">

    <h2>Resumen</h2>

    <figure class="figure">
      <img src="./assets/img/avatar/roraima.jpeg" alt="Roraima">
    </figure>

    <p class="description">Soy Desarrolladora Frontend con experiencia en el desarrollo de aplicaciones web utilizando Angular y tengo una fuerte determinación para ampliar mis habilidades aprendiendo React. Me gusta la creación de interfaces de usuario atractivas y funcionales, con un enfoque en el rendimiento y la usabilidad. Busco oportunidades para contribuir a proyectos web desafiantes y continuar mi desarrollo profesional.</p>

    <h3>Habilidades</h3>

    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Bootstrap</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Python</li>
      <li>Django</li>
      <li>Django REST Framework</li>
    </ul>
  </article>






</section>

<!--<section class="section about" id="about" >

  <article class="article" *ngFor="let obj of about">

    <ng-container *ngIf="obj.is_published">

      <h2>Resumen</h2>

      <figure class="figure">
        <img [src]="obj.photo" [alt]="obj.name">
      </figure>

      <p>{{obj.description}}</p>

      <h3>Habilidades</h3>

      <ul>
        <li *ngFor="let item of obj.skill">
          {{item.name}}
        </li>
      </ul>
    </ng-container>

  </article>

</section>-->


