<div class="article__about">

  <!--Acerca de mi-->
  <p class="about__description">
    Soy Desarrollador Web con experiencia en la creación de aplicaciones web funcionales y atractivas. Comprometida con la resolución de problemas y la entrega de soluciones de calidad. Poseo habilidades en HTML, CSS y JavaScript, así como experiencia en el uso de frameworks como React, Angular y Django.
  </p>

  <div class="about__image">
    <img src="./assets/img/avatar/roraima.jpeg" class="image" alt="Roraima">
  </div>

</div>
