$title: 'Raleway', sans-serif;
$subtitle: 'Poppins', sans-serif;
$text: 'Open Sans', sans-serif;
$black: #000;
$white: #fff;
$gray: #aaa;
$dark-gray: #222;
$blue: #0563bb;
$green: #11526A;


/* Aspectos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $black;
  color: $white;
  font-family: $text;
}

h1 {
  font-family: $title;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: $subtitle;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h3, h4 {
  letter-spacing: 0.1rem;
}

p {
  font-family: $text;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

li {
  list-style: none;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.section__title {
  padding-top: 10rem;
  padding-bottom: 3rem;

  .section__title-h2 {
    text-align: center;
    font-size: 4rem;
    color: $gray;
    text-transform: uppercase;
  }

}

.section__subtitle {
  margin: 5rem 0;
  color: $gray;
  font-size: 2.5rem;
  text-align: center;
}



