$title: 'Raleway', sans-serif;
$subtitle: 'Poppins', sans-serif;
$text: 'Open Sans', sans-serif;
$black: #000;
$white: #fff;
$gray: #777;
$light-gray: #ddd;
$dark-gray: #222;
$dark: #262024;
$blue: #004AAD;
$green: #0097B2;
$gradient: linear-gradient(90deg, #004AAD,#0097B2);


/* Aspectos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /*background-color: $black;*/
  color: $dark;
  font-family: $text;
}

h1 {
  font-family: $title;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: $subtitle;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h3, h4, h5 {
  font-family: $subtitle;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

p {
  font-family: $text;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

li {
  list-style: none;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.1rem;
}

span {
  letter-spacing: 0.1rem;
}

/* Stilos generales para los botones */
@mixin my-button() {
  background-color: $light-gray;
  color: $dark-gray;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 500ms ease;
}

@mixin my-button-hover {
  background: $gradient;
  color: $white;
}

.section__title {
  position: relative;
  margin-top: 15rem;
  margin-bottom: 7rem;

  .section__title-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: $dark;
    text-transform: uppercase;
  }

  .section__title-h2:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 70px;
    height: 4px;
    background: $gradient;
  }

}



.section__subtitle {
  margin: 5rem 0;
  color: $dark-gray;
  font-size: 2.5rem;
  text-align: center;
}

/* Modo Oscuro */
.dark__mode,
.dark__mode .nav {
  background-color: $black;
  color: $white;
}

.dark__mode h2, h3 {
  color: $gray!important;
}
