<h3 class="section__subtitle">Experiencia</h3>

<div class="resume__container" *ngFor="let  experience of experiences">
  <div class="resume__time">
    <span class="resume__year">{{ experience.time }}</span>
    <span class="resume__company">{{ experience.company }}</span>
  </div>
  <div class="divider"></div>
  <div class="resume__profession">
    <h4 class="resume__title">{{ experience.position }}</h4>
    <ul class="resume__description" *ngFor="let description of experience.job_description">
      <li>- {{ description }}</li>
    </ul>
  </div>
</div>


